// Contract page
.contract-container {
  .logo {
    margin-bottom: 50px;

    img {
      max-width: 200px;
    }
  }
}

.method-selection {
  .ant-checkbox-group {
    display: flex;
    flex-wrap: wrap;
  }

  .ant-checkbox-group-item {
    width: 45%;
  }
}

.contract-component {
  h1, h2, h3, h4, h5, h6, p {
    color: @dark-color;
  }

  .address-component {
    a {
      color: @dark-color !important;
    }
  }
}

