// Contract page
body.path-contract {
  background-color: @light-color;

  .return-button {
    padding-left: 0;
    font-size: 18px;
    color: @primary-color;
  }
}

.contract-top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contract-column {
  .anticon-setting {
    color: @primary-color;
  }

}

.contract-container {
  .logo {
    margin-bottom: 50px;

    img {
      max-width: 200px;
    }
  }
}

.method-selection {
  .ant-checkbox-group {
    display: flex;
    flex-wrap: wrap;
  }

  .ant-checkbox-group-item {
    width: 45%;
  }
}

.contract-component {
  h1, h2, h3, h4, h5, h6, p {
    color: @dark-color;
  }

  .address-component {
    a {
      color: @dark-color !important;
    }
  }

  .contract-methods-display,
  .contract-variables-display {
    background-color: @almost-white;
  }

  .contract-method-name {
    border-bottom: 1px solid @primary-color;
    color: @primary-color;
    font-size: 16px;
  }

  .contract-method-inputs {
    margin: 10px 0;

    .contract-method-input {
      margin-top: 4px;

      .ant-input-suffix {
        margin: 0 4px;
      }

      & > span {
        background-color: @light-color;
      }
    }

    .ant-input-affix-wrapper {
      padding-right: 0;
    }
  }

  input[type="text"] {
    background-color: @light-color;
    color: @primary-color;
    font-size: 14px;
  }

  .contract-action-button {
    background-color: @light-color;
    color: @primary-color;
    border: 1px solid @primary-color;
    font-size: 14px;
  }
}

