.side-contract-menu {
  background-color: @white;
  width: @menu-width;
  min-width: @menu-min-width;
  height: calc(100vh - 60px);
  padding: 35px 10px 0 20px;
  .side-contract-name {
    h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
    h4 {
      font-weight: 100;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
.address-display a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: @input-bg;
}
.contract-column {
  height: calc(100vh - 60px);
  padding-top: 15px;
  overflow-y: auto;
  width: calc(100vw - 280px);
  
  .no-methods-placeholder{
    color: @input-bg;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    @media (min-width: 768px) {
      position: absolute;
      left: 0;
      right: 0;
      top: 20%;
    }
   
    font-size: 30px;
  }
  &.contract-main {
    position: relative;
    .secondary-header{
      height: 42px;
      box-shadow: 4px 1px 1px 1px @input-border;
      position: absolute;
      top: 1px;
      width: 100%;
      background-color: @white;
      @media (min-width: 768px) {
        box-shadow:none;
        background-color:transparent;
      }
      align-items: center;
    justify-content: flex-end;
    }
    .contract-info {
     
      background-color: @white;
      border-radius: 8px;
      z-index: 100;
      right: 20px;
      top: 10px;
      width: 200px;
      .ant-collapse-item{
        border-bottom:none;
      }
      @media (min-width: 768px) {
        position: absolute;
        width: 300px;
      }
      overflow: hidden;
      cursor: pointer;
      svg {
        fill: @primary-color;
      }
      .anticon-info-circle svg{
        fill: @input-bg
      }
      .ant-collapse-content-box {
        padding-left: 10px;
        .address-row {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      .ant-collapse-header {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: @dark-color;
        padding:10px 0 10px 0;
        text-align: center;
        @media (min-width: 768px) {
          padding: 10px;
        }
      }
      .contract-variable-name {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: @dark-color;
      }
      .address-balance {
        margin-left: 10px;
      }
      .contract-variable-value {
        font-weight: 100;
        font-size: 12px;
        line-height: 20px;
        color: @dark-color;
      }
    }
  }
  h3 {
    line-height: 30px;
    margin-top: 60px;
    @media (min-width: 768px) {
      margin-top: 30px;
    }
  }
 
  .functions-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .function-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .contract-method {
      min-width: calc(50% - 10px);
      transition: all 0.3s;
      background-color: @white;
      border-radius: 12px;
      padding: 25px 16px;
      margin-bottom: 20px;
      position: relative;
      button.primary {
        position: absolute;
        height: 32px;
        right: 16px;
        top: 22px;
      }
      .contract-method-input {
        label {
          font-size: 12px;
          font-weight: 400;
          line-height: 30px;
          color: @input-bg;
          margin-bottom: 10px;
        }
      }
      .contract-method-name {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: @dark-color;
        .anticon{
          margin-right: 10px;
          line-height: 10px;
        }
      }
      .contract-result-output {
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        color: @dark-color;
        border: none;
        position: relative;
        .result-icon {
          color: @success;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 20px;
        }
        .result-text {
          position: absolute;
          top: 0;
          right: 0;
        }
        .ant-collapse-item > .ant-collapse-header {
          padding: 0 !important;
        }
        span {
          font-weight: 100;
        }
      }
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
    @media (max-width: 720px) {
      display: block;
    }
  }
  .contract-header {
    display: flex;
    justify-content: space-between;
    .primary {
      height: 25px;
      margin-bottom: 20px;
      color: @white;
      background-color: @primary-color;
      transition: all 0.3s ease-in;
      border: 2px solid @primary-color;
      transition: all 0.3s ease-out;
      align-self: center;
      width: 150px;
      margin-right: 14px;
      &:hover {
        color: @primary-color;
        background-color: @white;
        transition: all 0.3s ease-in;
        border: 2px solid @primary-color;
        transition: all 0.3s ease-out;
      }
    }
  }
}

.contract-navigation-content {
  background-color: @white;
  padding: 0px;
  max-width: 100%;
  overflow: hidden;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  .ant-collapse-ghost {
    margin-top: 10px;
    overflow-y: auto;
    padding-left: 15px;
    .ant-collapse-content-box{
      padding: 0;
      li{
        padding-left: 0;
      }
    }
  }
  .contract-navigation-title {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    min-height: 90px;
    * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h2 {
      margin: 0;
    }
    h4 span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
    svg {
      fill: @primary-color;
    }
  }
  .ant-collapse-header {
    padding-left: 0px !important;
    padding-bottom: 0px!important;
  }
  .ant-collapse-ghost {
    flex-grow: 1;
  }
  .primary {
    height: 25px;
    margin-bottom: 20px;
    color: @primary-color;
    background-color: @white;
    transition: all 0.3s ease-in;
    border: 2px solid @primary-color;
    transition: all 0.3s ease-out;
    align-self: center;
    width: 150px;
    margin-right: 14px;
    &:hover {
      color: @primary-color;
      background-color: @white;
      transition: all 0.3s ease-in;
      border: 2px solid @primary-color;
      transition: all 0.3s ease-out;
    }
  }
 
  ul {
    padding: 0;
    li {
      width: 100%;
      height: 30px;
      list-style: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px;
      &.active {
        display: flex;
        justify-content: space-between;
        > span:nth-child(1) {
          width: 100%;
        }
        > span:nth-child(2) {
          svg {
            fill: @input-bg;
          }
        }

        background-color: @almost-white;
        border-radius: 4px;
      }
      cursor: pointer;
      &.header {
        font-weight: bold;
        padding: 0;
        margin-top: 10px;
      }
    }
  }
}

.contract-loading-spinner{
  margin: 0 auto;
  margin-top: 60px;
}

.menu-button{
  margin-left: 10px;
  z-index: 100;
  font-size: 20px;
  position: absolute;
  left: 5px;
  top: 13px;
}
.info-button{
  margin-left: 10px;
  z-index: 100;
  font-size: 20px;
  position: absolute;
  right: 11px;
  top: 13px;
  @media (min-width: 768px) {
    top: 30px;
    right: 15px;
    background-color: @white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    }
    
}
.info-button-close{
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 999;
  font-size: 20px;
  @media (min-width: 768px) {
    top: 45px;
    right: 25px;

    }
}
.menu-button-close{
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 999;
  font-size: 20px;
}
.info-navigation{
  transition: all 0.3s;
  padding-top: 13px;
  padding-left: 8px;
  background-color: @background;
  height: 100%;
  display: none;
  &.open{
    display: block;
    position: absolute;
    right: 0;
    z-index: 700;
    width: 280px;
    background-color: @white;
    @media (min-width: 768px) {
      min-width: 280px;
      padding-top: 40px;
      }
    transition: all 0.3s;
    .contract-navigation-title{
      padding-top: 2px;
    }
  }
}
.contract-navigation{
  transition: all 0.3s;
  min-width: 100%;
  @media (min-width: 768px) {
    min-width: 280px;
    margin-top: 0;
    }
  &.open{
    display: block;
    position: absolute;
    z-index: 700;
    min-width: 280px;
    background-color: @white;
    @media (min-width: 768px) {
      min-width: 280px;
      padding-top: 0;
      }
    transition: all 0.3s;
    .contract-navigation-title{
      padding-top: 2px;
    }
  }

}

@media (min-width: 768px) {
  .menu-button-close, .menu-button{
display: none;  
  }

}