.header {
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: @white;
  height: 60px;
  align-items: center;
  padding: 0 10px 0 20px;
  .nework-selector {
    margin-left: 10px;
  }
  .address-component a {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: @input-bg;
  }
  svg {
    fill: @primary-color;
  }
  .identicon {
    margin-top: 6px;
  }
  .header-logo {
    width:  170px;
    .logo-link {
      color: black;
      text-decoration: none;
      display: flex;
      align-items: center;
      .logo-abi {
        font-weight: bold;
        font-size: 20px;
        .logo-ninja {
          font-size: 20px;
          font-weight: 100;
        }
      }
    }
  }
}
.footer-items {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
  margin-top: 30px;

  a {
    text-decoration: none;
    color: @primary-color;
  }
  .separator {
    padding-left: 4px;
    padding-right: 4px;
  }
  color: @dark-color;
}
