@primary-color: #ae92ff;
@background: #e7e7e7;
@light-color: #d6dbde;
@dark-color: #dfe1eb;

@ligthdark-color: #ae9eff;

@almost-white: #f9f7ff;
@medium-color: #d5c7ff;
@light-grey: #696969;
@menu-width: 280px;
@menu-min-width: 180px;
@white: #ffffff;

@import "_general";
@import "_homepage";
@import "_contract";
@import "_header-footer";
@import "_network-selector";
