@primary-color: #551d98;
@background: #efeaff;
@input-bg: #5e6475;
@dark-color: #212942;
@almost-white: #f9f7ff;
@menu-width: 280px;
@menu-min-width: 180px;
@white: #ffffff;
@success: green;
@input-border: #d9d9d9;
@danger: rgba(255, 0, 0, 0.6);
@danger-hover: rgba(255, 0, 0, 1);
@primary-color-light: #ae92ff;

@import "_general";
@import "_homepage";
@import "_contract";
@import "_header-footer";
@import "_network-selector";
